# Virtual Environment Folder
/Uvenv/
/venv/
/Wvenv/

# Pycharm Settings
.idea/

# Pycache
__pycache__

# Cuda Caches and Logs
*.tfcache.*
cuda_utilities/*/*

# Keep folders as an exception
!cuda_utilities/*/.gitkeep

# Media Files
*.jpg
*.avi
*.mp4

#Fer Prediction Model
/src/models/weights/FER_Model.h5

# Result Folders
/results/coins_analysis/
/results/yt_analysis/
